@use 'common';

// .Wrapper {
//     outline: 1px solid #f00;
// }

h1 {
    font-size: 0;
}

.Header {
    position: relative;
    line-height: 100px;

    .TopBanner {
        position: relative;
        background: common.$mainColor;
        color: common.$wColor;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        line-height: 40px;


        .inner {


            p {
                display: inline-block;
            }

            a {
                padding: 0 15px;
                // vertical-align: middle;
                text-decoration: underline;

            }
        }

        button {
            position: absolute;
            top: 50%;
            right: calc(50% - 400px);
            transform: translateY(-40%);
            border: inherit;
            background: inherit;
            font-size: 16px;
            color: common.$wColor;
        }

    }

    .gnb {
        // position: absolute;
        // top: 40px;
        // left: 50%;
        // transform: translateX(-50%);
        // color: common.$wColor;
        // z-index: 9999;

        .hInner {
            display: flex;
            justify-content: space-between;


            h1 {
                font-size: 0;

                a {
                    display: inline-block;
                    font-size: 0;
                    width: 200px;
                    height: 21px;
                    background: url(../../public/assets/img/logo-g.png) no-repeat center center/cover;
                    vertical-align: middle;

                }
            }

            nav {
                ul {
                    display: flex;
                    gap: 40px;
                    font-size: 17px;
                    font-weight: 400;
                }
            }

            .service {
                display: flex;
                gap: 30px;
                font-size: 25px;
                color: common.$mainColor;

            }
        }


    }

}

.MainVisual {
    .itm {
        height: calc(100vh - 142px);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &.itm01 {
            background-image: url(../../public/assets/img/main01.jpg);
        }

        &.itm02 {
            background-image: url(../../public/assets/img/main02.jpg);
        }

        &.itm03 {
            background-image: url(../../public/assets/img/main03.jpg);
        }
    }
}

.Iconic {
    .inner {
        display: flex;

        figure {
            position: relative;
            // width: 427px;
            width: 280px;
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &.ico01 {
                background-image: url(../../public/assets/img/ico01.png);
            }

            &.ico02 {
                background-image: url(../../public/assets/img/ico02.png);
            }

            &.ico03 {
                background-image: url(../../public/assets/img/ico03.png);
            }

            &.ico04 {
                background-image: url(../../public/assets/img/ico04.png);
            }

            &.ico05 {
                background-image: url(../../public/assets/img/ico05.png);
            }

            span {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            img {
                border: 0 !important
            }
        }
    }

}

.Collection {
    background: rgba($color: common.$mainColor, $alpha: 0.1);
    height: 1000px;

    .cSlide {
        position: relative;

        .left {
            position: absolute;
            top: 0;
            left: 0;
            width: 670px;

            figure {
                position: relative;
                width: 670px;
                height: 670px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                .box {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;

                    strong {
                        display: inline-block;
                        font-size: 21px;
                        margin: 0 0 10px 0;
                    }

                    p {
                        max-height: 400px;
                        line-height: 1.45;
                        font-size: 40px;
                        // white-space: pre-wrap;
                        margin: 0 0 50px 0;
                        white-space: pre-line;
                        word-break: keep-all;
                    }

                    a {
                        border: 1px solid rgb(255, 255, 255, 0.6);
                        background: inherit;
                        color: #fff;
                        padding: 5px 25px;
                        cursor: pointer;
                    }
                }
            }

            .col01 {
                background: url(../../public/assets/img/collection01.png);
            }

            .col02 {
                background: url(../../public/assets/img/collection02.png);
            }

            .col03 {
                background: url(../../public/assets/img/collection03.png);
            }
        }

        .right {

            position: absolute;
            top: 0;
            right: 0;
            width: 670px;
            height: 670px;

            .slick-slide {
                div {

                    &:nth-child(1) {
                        margin: 0 0 15px 0;

                        // figure {
                        //     &:nth-child(1) {
                        //         margin: 0 15px;
                        //     }

                        // }
                    }

                    &:nth-child(2) {
                        margin: 15px 0 0 0;
                    }

                }
            }

            figure {
                img {
                    width: 320px;
                    height: 325px;
                    margin: 1.5px 0 0 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-color: #fff;
                }


            }
        }

        // .bz01 {
        //     background: url(../../public/assets/img/bz01.png);
        // }

        // .bz02 {
        //     background: url(../../public/assets/img/bz03.png);
        // }

        // .bz03 {

        //     background: url(../../public/assets/img/bz04.png);
        // }

        // .bz04 {
        //     background: url(../../public/assets/img/bz02.png);
        // }

        // .se01 {

        //     background: url(../../public/assets/img/se01.png);
        // }

        // .se02 {
        //     background: url(../../public/assets/img/se02.png);
        // }

        // .se03 {

        //     background: url(../../public/assets/img/se03.png);
        // }

        // .se04 {
        //     background: url(../../public/assets/img/se04.png);
        // }

        // .diva01 {

        //     background: url(../../public/assets/img/diva01.png);
        // }

        // .diva02 {
        //     background: url(../../public/assets/img/diva02.png);
        // }

        // .diva03 {

        //     background: url(../../public/assets/img/diva03.png);
        // }

        // .diva04 {
        //     background: url(../../public/assets/img/diva04.png);
        // }

        // .arrows {
        //     position: relative;
        //     z-index: 999;

        //     i {
        //         position: absolute;
        //         width: 48px;
        //         height: 48px;

        //         &.aleft {
        //             background: url(../../public/assets/img/arrows.png);
        //         }
        //     }
        // }
    }


}


.HighJewelry {

    .high01 {
        background: url(../../public/assets/img/high01.jpg) no-repeat center center/cover;
        height: 50vh;
    }

    .hsp {
        padding: 100px 0;
        text-align: center;

        h2 {
            font-size: 40px;
            margin: 0 0 30px 0;
        }

        p {
            font-size: 17px;
        }

        h3 {
            font-size: 30px;
            margin: 0 0 30px 0;
        }
    }

    .inner {

        strong {
            font-size: 17px;
            display: inline-block;
            margin: 0 0 15px 0;
        }

        p {
            line-height: 1.45;
            // white-space: pre-line;
            // word-break: keep-all;

        }


        .pic01 {
            display: flex;

            .high02 {
                flex: 1;
                // flex: 2;
                width: 100%;
                height: 670px;
                background: url(../../public/assets/img/high02.jpg) no-repeat center center/cover;

            }

            .high03 {
                flex: 1;
                width: 100%;
                height: 670px;
                background: url(../../public/assets/img/high03.jpg) no-repeat center center/cover;

            }
        }

        .eden {
            display: flex;

            .eden01 {
                margin: 0 0 0 90px;
                width: 500px;
                height: 370px;
                background: url(../../public/assets/img/eden01.jpg) no-repeat center center/cover;
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: 0 0 0 90px;
            }
        }

        .eden2 {
            display: flex;

            .eden02 {
                margin: 0 30px 0 0;
                width: 600px;
                height: 770px;
                background: url(../../public/assets/img/eden02.jpg) no-repeat center center/cover;
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: 0 0 0 90px;
            }
        }
    }

}

.History {

    .history01 {
        background: url(../../public/assets/img/history01.jpg) no-repeat center center/cover;
        height: 50vh;
    }

    .hsp {
        padding: 100px 0;
        text-align: center;

        h2 {
            font-size: 40px;
            margin: 0 0 30px 0;
        }

        p {
            font-size: 17px;
        }

        h3 {
            font-size: 25px;
            margin: 0 0 30px 0;
        }
    }

    .inner {
        strong {
            font-size: 17px;
            display: inline-block;
            margin: 0 0 15px 0;
        }

        p {
            line-height: 1.45;
            // white-space: pre-line;
            // word-break: keep-all;

        }
    }

    .history02 {

        .pic {
            display: flex;
            gap: 30px;

            figure {
                width: 435px;
                height: 435px;
                margin: 0 0 30px 0;
            }

            .h01 {
                background: url(../../public/assets/img/h01.jpg) no-repeat center center/cover;
            }

            .h02 {
                background: url(../../public/assets/img/h02.jpg) no-repeat center center/cover;
            }

            .h03 {
                background: url(../../public/assets/img/h03.jpg) no-repeat center center/cover;
            }

        }
    }

    .history03 {


        .inner {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;

            figure {
                width: 435px;
                height: 435px;
            }

            .i01 {
                background: url(../../public/assets/img/i01.jpg) no-repeat center center/cover;
            }

            .i02 {
                background: url(../../public/assets/img/i02.jpg) no-repeat center center/cover;
            }

            .i03 {
                background: url(../../public/assets/img/i03.jpg) no-repeat center center/cover;
            }

            .i04 {
                background: url(../../public/assets/img/i04.jpg) no-repeat center center/cover;
            }

            .i05 {
                background: url(../../public/assets/img/i05.jpg) no-repeat center center/cover;
            }

            .i06 {
                background: url(../../public/assets/img/i06.jpg) no-repeat center center/cover;
            }

            p {
                font-size: 17px;
                margin: 15px 0 0 0;
            }
        }
    }
}

.Footer {
    background: common.$mainColor;
    padding: 70px 0 140px 0;

    .inner {
        display: flex;
        justify-content: space-between;
        line-height: 1.45;
        // padding: 100px 0;

        .fTit {
            font-size: 17px;
            color: #fff;
        }

        .fSub {
            font-size: 15px;
            margin: 10px 0 0 0;
            color: #dddddd;
        }


    }

    .copyright {
        padding: 50px 0 0 0;
        color: #dddddd;


    }

    // .bottom {
    //     border-top: 1px solid rgba($color: #dddddd, $alpha: 0.5);
    //     border-bottom: 1px solid rgba($color: #dddddd, $alpha: 0.5);
    // }
}